body {
  margin: 0;
  text-align: center;
}

td {
  background-color: #dff9fb;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

th {
  background-color: #95afc0;
  font-family: 'Montserrat', monospace;
  text-align: center;
}

img {
  height: 150px;
  width: 150px;
}

hr {
  border-color: #95afc0;
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  margin: 100px auto 100px auto;
  width: 4%;
}

.red {
  background-color: #87e5da;
  color: #841818;
}

.redLine {
  background-color: firebrick;
  color: #87e5da;
}
.greenLine {
  background-color: green;
  color: #841818;
}
.negative {
  color: red;
  font-weight: bold;
}

.spacing {
  background-color: #dff9fb;
  padding: 5px;
}

.table-hr {
  border-color: #95afc0;
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  margin: 8px;
  width: 100%;
}
